// Colors
$headline-color: #58e1c1;
$headline-sec: #777;
$link-color: #51ddfc;

$col-1-color: #927bc1;
$col-2-color: #fd7856;
$col-3-color: #deb2ee;
$col-4-color: #7ee6fd;
$col-5-color: #88d9a0;
$col-6-color: #4da2bb;
$col-7-color: #ec9fa3;
$col-8-color: #fd9f85;
$col-9-color: #e4757a;
$col-10-color: #63cc82;
$col-11-color: #51ddfc;
$col-12-color: #80e8d1;

//Media Query Size
$large: 768px;